  <!-- Footer -->
  <footer class="main-footer">
    <div class="footer-top">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-1 col-xl-3 offset-xl-2 content-center">
              <h2>Join in. Get the app.</h2>
              <figure>
                <a href="javascript:;"><img alt="App Store" class="img-fluid" src="../../assets/images/app-store.png" width="94" height="29" /></a>
                <a href="javascript:;"><img alt="Play Store" class="img-fluid" src="../../assets/images/play-store.png" width="99" height="29" /></a>
              </figure>
            </div>
            <div class="col-sm-12 col-md-6 offset-lg-1 margin-top20  content-center">
              <p>Follow artists, gain exclusive content, discover music and more.</p>
              <form action="javascript:;" method="post" class="newsletter-input">
                <input class="form-control" type="text" placeholder="E-mail" />
                <input class="btn"  type="submit" value="SUBSCRIBE" />
              </form>
            </div>
          </div>
          <div class=" row">
            <div class="col text-center follow-us">
              <p>
                <span>Follow us on: </span>
                <a href="javascript::"><i class="fab fa-twitter"></i></a> 
                <a href="javascript::"><i class="fab fa-instagram"></i></a>
                <a href="javascript::"><i class="fab fa-facebook-square"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
              <ul>
                <li>&copy;2018</li>
                <li> Am The Industry Inc.</li>
                <li><a href="javascript:;">Terms of Service</a></li>
                <li><a href="javascript:;">Privacy</a></li>
                <li><a href="javascript:;">FAQ</a></li>
                <li><a href="javascript:;">Contact us</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /Footer -->