  <!-- Header -->
  <header class="landing-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-7 offset-xl-1">
          <a href="javascript::"><img src="../../assets/images/industry-logo.png" alt="" class="img-fluid" width="259" height="34"/></a>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4 header-right-col">
          <a routerLink="/login">Login</a>
          <a href="javascript:;">How it work</a>
          <a href="javascript:;" class="upload-link">Upload for artists</a>
        </div>
      </div>
    </div>
  </header>
  <!-- /Header -->

  <!-- Main Content -->
  <main class="main-content">
    <div class="banner">
      <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xl-11 offset-xl-1 banner-frame">
              <h1>Where artists and fans connect.</h1>
              <p>Subscribe directly to your favorite artists.</p>
              <figure>
                <a href="javascript:;"><img alt="App Store" class="img-fluid" src="../../assets/images/app-store-large.png" width="159" height="50" /></a>
                <a href="javascript:;"><img alt="Play Store" class="img-fluid" src="../../assets/images/play-store-large.png" width="168" height="50" /></a>
              </figure>
              <!-- <div class="scroll-down"><a href="javascript:;"><img src="images/scroll-down.png" alt="mouse"/></a></div> -->
            </div>
            <div class="col-sm-12 text-center banenr-right">
              <img src="../../assets/images/hand-mobile.png" width="326" height="545" class="img-fluid" />
            </div>
        </div>
      </div>
    </div>

    <!-- how it work -->
    <div class="how-it-work">
      <div class="container">
        <div class="row">
          <h2 class="col-sm-12 text-center">How it works</h2>
          <div class="col-sm-12 col-md-4">
            <figure><img src="../../assets/images/icon-discover.png" alt="Discover emerging and major artists" /></figure>
            <div class="text-frame">
              <h4>Discover emerging and major artists from around the world.</h4>
              <p>We feature the artists that you’re excited about.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <figure><img src="../../assets/images/icon-subscribe.png" alt="Subscribe to the artists" /></figure>
            <div class="text-frame">
              <h4>Subscribe to the artists you love on your terms.</h4>
              <p>Set any level of subscription and cancel anytime.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <figure><img src="../../assets/images/icon-music.png" alt="personalized music experience" /></figure>
            <div class="text-frame">
              <h4>Enjoy your personalized music experience.</h4>
              <p>Gain direct access to the artist and exclusive content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/how it work -->

    <!-- artists work -->
    <div class="artists-work">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-6 col-xl-5 offset-xl-1">
            <h2>How it works. For Artists</h2>
            <ul>
              <li><span><i class="fas fa-cloud-upload-alt"></i></span> Upload your music and exclusive content to your profile.</li>
              <li><span><i class="fas fa-signal"></i></span> Create different subscription levels so fans can subscribe to your content.</li>
              <li><span><i class="fas fa-dollar-sign"></i></span> Get paid.</li>
            </ul>
          </div>
          <div class="col-sm-12 col-lg-6 col-xl-5 offset-xl-1 artists-work-right">
            <img class="img-fluid" src="../../assets/images/artists-work.png" alt="artist work" width="446" height="507"/>
          </div>
        </div>
      </div>
    </div>
    <!-- /artists work -->
  </main>
  <!-- /Main Content -->


<app-footer></app-footer>