  <!-- sidebar -->
  <div class="left-sidebar">
    <div class="sidebar-content">
      <div class="user-summary clearfix">
        <span><img src="../../assets/images/user-avtar.png" alt="user avtrar" width="50" height="50" class="img-fluid" /></span>
        <div class="summary">
          <h6>Shinobi Ninja</h6>
          <small>@shinobininja</small>
          <p>New York, NY | Indie-Rock <span>$21,655</span> per single</p>
        </div>
      </div>

      <p class="bio"><small>BIO</small> rock hard. It’s what we do. Featured on Billboard, MTV & More.</p>
      
      <div class="follower-content clearfix">
        <div>
          <span class="float-left">POSTS</span>
          <span class="float-right">22</span>
        </div>
        <div>
          <span class="float-left">SUBSCRIBERS</span>
          <span class="float-right">28</span>
        </div>
        <div>
          <span class="float-left">FOLLOWERS</span>
          <span class="float-right">3.4K</span>
        </div>
        <div>
          <span class="float-left">COMMENTS</span>
          <span class="float-right">303</span>
        </div>
      </div>
    </div>

    <ul>
      <li class="active"><a href="javascript:;">DASHBOARD</a></li>
      <li class=""><a href="javascript:;">PAYOUTS</a></li>
      <li class=""><a href="javascript:;">YOUR SUBSCRIBERS</a></li>
      <li class=""><a href="javascript:;">POSTS INSIGHTS</a></li>
    </ul>
  </div>
  <!-- /sidebar -->